.Header {
  background: #f7f7f7;
  border-bottom: 1px solid rgba(#fff, 0.1);
  width: 100%;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    margin: 0 auto;
    width: 1440px;

    .profile {
      display: flex;
      align-items: center;

      .wrapp {
        display: flex;
        align-items: center;
        border-right: 1px solid rgba(66, 69, 76, 0.1);
        padding-right: 25px;
        height: 25px;

        .balance {
          font-weight: 500;
          font-size: 16px;
          margin-right: 10px;
        }

        .sum {
          font-weight: bold;
          font-size: 16px;
          color: #3f73f9;
        }
      }

      .exit {
        margin-left: 25px;
      }
    }
  }
}
