.Menu {
  background-color: #f1f1f1;
  border-top: 1px solid rgba(66, 69, 76, 0.1);
  border-bottom: 1px solid rgba(66, 69, 76, 0.1);
  width: 100%;

  .menu-container {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    margin: 0 auto;
    width: 1440px;

    a {
      color: #42454c;
      font-weight: 500;
      font-size: 16px;
      margin-right: 30px;
      position: relative;

      &.active::before {
        content: "";
        border-bottom: 3px solid #3f73f9;
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
      }
    }

    a:last-child {
      margin-right: 0;
    }
  }
}
