.Segment {
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  margin-top: 40px;
  overflow: hidden;

  .segment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px 25px;
    border-bottom: 1px solid rgba(66, 69, 76, 0.1);

    .column {
      display: flex;
      align-items: center;

      .segment-icon {
        margin-right: 20px;

        &__open {
          transform: rotate(180deg);
          margin-right: 20px;
        }
      }

      .blue {
        margin-left: 10px;
      }
    }
  }

  .segment-content {
    padding: 20px;
  }
}
