.Replenishment {
  .refill {
    width: 210px;
  }

  .Sort {
    border-bottom: 2px solid rgba(66, 69, 76, 0.1);
    padding-bottom: 40px;
    margin: 40px 0 0 0;
  }

  .ReplenishmentTable {
    margin-top: 40px;
  }
}
